.dish{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #370617;
    border-radius: 10px;
    border-width: 5px;
    border-color: #370617;
    margin: 10px;
    height: max-content;
    transition: background-color 0.5s;
}
.dish:hover{
    background-color: #d00000;
}
.dish-name{
    color: #ffba08;
}
.dish-content{
    align-items: center;
    justify-content: center;
    width: 400px;
    display: block;
}
.dish-image{
    align-items: center;
    justify-content: center;
    max-height: 250px;
    max-width: 450px;
}
.prep{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    color: #ffba08;
}
.method{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    color: #ffba08;
}
.show-recipe{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: block;
    background: #dc2f02;
    border-color: #dc2f02;
    width: 30%;
    cursor: pointer;
}