.hobbies{
    align-items: center;
    display: block;
    justify-content: center;
}
.hobby-hyper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: white;
    font-size: 15px;
    margin-bottom: 5px;
    color: purple;
    cursor: pointer;
}
.hobbies-title{
    font-size: 40px;
    color: green;
}
.hobby-subtitle{
    font-size: 20px;
    color: green;
}
.hobbies-description{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.tkd{
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}
.tkd-title{
    font-size: 40px;
}
.tkd-description{
    text-align: center;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.tkd-pics{
    display: block;
}
.pic-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.tkd-image{
    max-height: 250px;
    margin-left: 2px;
    margin-right: 2px;
}
.makerworld-link{
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: purple;
    background: black;
    font-family: Garamond, serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.hobby-image{
    max-height: 250px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
}