.home{
    padding: 1px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #6a040f;
    /* background-image: linear-gradient(to bottom, #6a040f, #d00000); */
}
.home-title{
    color: #ffba08;
    font-size: 40px;
}
.home-sub-title{
    font-size: 35px;
    color: #ffba08;
}
.contact{
    font-family: Garamond, serif;
    font-size: 20px;
    color: #ffba08;
}
.important-links{
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.other-page-links{
    font-family: Garamond, serif;
    font-size: 20px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: #ffba08;
    background: black;
}
.pfp{
    width: 300px;
    border-radius: 50%;
}
.home-description{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #ffba08;
    font-weight: 700;
    font-size: 18px;
}
.work-title{
    color: #ffba08;
    font-size: 30px;
}
.work-images{
    display: block;
}
.drs-title{
    color: #ffba08;
    font-size: 25px;
}
.ihawk-title{
    color: #ffba08;
    font-size: 25px;
}
.work-pics{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.drs-img{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    max-height: 300px;
}
.ihawk-img{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    max-height: 250px;
}