.home{
    display: block;
    align-items: center;
    justify-content: center;
}
.home-title{
    color: aqua;
    font-size: 40px;
}
.home-sub-title{
    font-size: 30px;
}
.contact{
    font-family: Garamond, serif;
    font-size: 20px;
    color: maroon;
}
.important-links{
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.other-page-links{
    font-family: Garamond, serif;
    font-size: 20px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: yellowgreen;
    background: black;
}
.pfp{
    width: 300px;
    border-radius: 50%;
}
.home-description{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.work-images{
    display: block;
}
.work-pics{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.drs-img{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    max-height: 300px;
}
.ihawk-img{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    max-height: 250px;
}