.projects{
    display: block;
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
    background-color: #6a040f;
}
.description{
    font-weight: 700;
    font-size: 18px;
    color: #03071e;
}
.hyperlinks{
    align-items: center;
    display: flex;
    justify-content: center;
}
.hyperlink{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #6a040f;
    font-size: 15px;
    color: #e85d04;
}
.project-title{
    align-items: center;
    color: #03071e;
    font-size: 40px;
}
.project-container{
    width: 100%;
    align-items: center;
}
.project-row{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}