.project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #370617;
    border-radius: 10px;
    border-width: 5px;
    margin: 10px;
    height: max-content;
    transition: all 0.5s;
    border-color: #370617;
}
.project:hover{
    background-color: #d00000;
}
.project-name{
    color:#ffba08;
}

.content{
    align-items: center;
    justify-content: center;
    width: 500px;
    display: block;
}
.image{
    align-items: center;
    justify-content: center;
    max-height: 400px;
    max-width: 450px;
}

.show-more{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: block;
    background: #dc2f02;
    width: 30%;
    cursor: pointer;
    transition: all 1s;
    border-color: #dc2f02;
}

.desc-container{
    max-height: 10px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.readme{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    color: #ffba08;
}


.github{
    width: 100px;
    height: 30px;
    background: #e85d04;
    margin-bottom: 5px;
    border-color: #e85d04;
}
.link{
    color: black;
    text-decoration: none;
}
.view-report{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 0;
    background: #f48c06;
    border-color: #f48c06;
}
.report-link{
    color: black;
    text-decoration: none;
}